services:
  fastapi:
    build: ./FastAPI
    restart: unless-stopped
    env_file:
      - ./FastAPI/.env
    ports:
      - "8001:8001"
    networks:
      - appnet

  laravel:
    build: ./frontend
    restart: unless-stopped
    env_file:
      - ./frontend/.env
    depends_on:
      - mysql
    networks:
      - appnet

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: autentik
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./frontend:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  mysql_data:
