fastapi
uvicorn

torch>=2.1.0
transformers>=4.38.0

Pillow
easyocr>=1.7.1
opencv-python-headless

joblib
rapidfuzz


pdf2image

google-api-python-client
google-api-core
google-generativeai

sqlalchemy
pymysql

albumentations

onnxruntime

python-multipart